<ion-header>
	<ion-navbar>
		<ion-title>
			Calculator
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<form (ngSubmit)="calculate()">
		<ion-list>
			<br>
			<ion-item>
				<ion-label>Time frame</ion-label>
				<ion-select multiple="false"  [(ngModel)]="check.mp" name="mp">
					<ion-option disabled selected>Choose an option...</ion-option>
					<ion-option [value]="0">1ST</ion-option>
					<!--ion-option [value]="1">2ND</ion-option-->
					<ion-option [value]="2">3RD</ion-option>
					<ion-option [value]="3">4TH</ion-option>
					<!--ion-option [value]="4">Final</ion-option-->
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label>Class to calculate for</ion-label>
				<ion-select multiple="false"  [(ngModel)]="check.class" name="class">
					<ion-option disabled selected>Choose a class...</ion-option>
					<ion-option *ngFor="let class of classes" [value]="class.name">{{class.name}}</ion-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label>Grade you want to earn</ion-label>
				<ion-input type="number" placeholder="100" min="1" max="100" [(ngModel)]="check.grade" name="grade"></ion-input>
			</ion-item>
			<button ion-button color="primary" block>Check</button>
		</ion-list>
	</form>
	<div style="display: block; padding: 5px;" *ngIf="calculated">
	<h4>You need a {{results.targetGrade}}% in the {{results.name}} category to get a {{check.grade}}% in "{{dataLits[check.mp]}}".</h4>
	<h4>You need a 100% on a {{results.pointsNeeded}}-pt {{results.name}} assignment to get a {{check.grade}}% in "{{dataLits[check.mp]}}".</h4>
	<hr>
	<h4>You currently have a {{results.oldGrade}}% in the {{results.name}} category.</h4>
	<h4>Grade History:</h4>
    <canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
</ion-content>